
    <footer class="mt-auto footer container-fluid">
        <div class="row footrow">
          <div class="col-sm-7 copyrights">
            <h5>Copyright &copy; 2022 TradeAnime</h5>
          </div>
          <div class="col-sm-4">
            <nav class="mt-2 mb-2 social">
              <a href="https://www.instagram.com/" target="_blank"
                ><img
                  src="/images/IG.png"
                  width="30"
                  height="30"
                  alt="Instagram"
              /></a>
              <a href="https://www.facebook.com/" target="_blank"
                ><img src="/images/fb.png" width="30" height="30" alt="Facebook"
              /></a>
              <a href="https://twitter.com/" target="_blank"
                ><img
                  src="/images/twitter.png"
                  width="30"
                  height="30"
                  alt="Twitter"
              /></a>
            </nav>
          </div>
        </div>
      </footer>
    </body>
  </html>
  