<!DOCTYPE html>
<html>
  <head>
    <title>Anime Trading</title>
    <meta lang="en" charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/icon.ico" />
    <link
      rel="stylesheet"
      href="/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/common.css" />              
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="container-fluid">
      <div class="row head_row">
        <div class="col-sm-7 pl-5 logo">
          <a href="/"
            ><img
              src="/images/logo.png"
              width="70"
              height="75"
              class="logo_img float-left"
              alt="logo"
            />
            <div class="mt-3 float-left website_name">
              <h3>TradeAnime</h3>
              <p class="text-center tagline">Dattebayo!</p>
            </div></a
          >
        </div>
        <div class="col-sm-5">
          <nav class="mt-4 menu">
            <a href="/trades/new">Start Trading</a>
            <a href="#">Login</a>
            <a href="#">Signup</a>
          </nav>
        </div>
      </div>
    </header>
    <nav class="menu1">
      <a href="/">Home</a>
      <a href="/trades">Trade</a>
      <a href="/about">About us</a>
      <a href="/contact">Contact</a>
    </nav>
  
