<%- include ('./partials/header.ejs')%>
<main class="container-fluid aboutus">
    <div class="row justify-content-center p-5">
      <div class="col-sm-6 justify-content-center">          
        <div class="card p-5 border-info commoncard text-center font-weight-bold">
          <h2>About Us</h2>        
          <h5>Welcome to AnimeTrade!</h5>
          <div>
          <div class="mt-3 text-monospace">                         
            <h5>A large pool of products</h5>
            <h5>Trusted by all</h5>
            <h5>Great Experience</h5> 
          </div>         
            <h5 class="mt-4">Established in 2022</h5>            
          </div>          
        </div>
      </div>
    </div>
  </main>                                   
<%- include('./partials/footer.ejs')%>