<%- include ('./partials/header.ejs')%>
<main class="container-fluid contactus">
    <div class="row justify-content-center p-5">
      <div class="col-sm-6 justify-content-center">          
        <div class="card p-5 border-info commoncard text-center font-weight-bold">
          <h2>Contact</h2>
          <h5>Welcome to AnimeTrade!</h5>
          <div class="text-monospace mt-3">
            <h5>Name : Hoshank Mali</h5>
            <h5>Email : hmali@uncc.edu</h5>
            <h5>Address : University of North Carolina at Charlotte</h5>             
          </div>                 
        </div>
      </div>
    </div>
  </main>                                   
<%- include('./partials/footer.ejs')%>