<%- include('./partials/header.ejs')%>
<main class="container-fluid mainhomepage">
  <div class="row">
    <div class="col-sm-4 homedesc">
      <h4>Welcome to Anime Trading!</h4>
      <p>
        <i>
          Anime has endless paths to explore and so does this website where you
          can find unique things to trade from your favorite anime
        </i>
      </p>
    </div>
  </div>
</main>
<%- include('./partials/footer.ejs')%>
