header {
  background-color: ivory;
}

.menu {
  float: right;
  padding-left: 10px;
  padding-right: 40px;
}

.menu a {
  padding-left: 25px;
  font-weight: 600;
  color: black;
}
.menu1 {
  background-color: rgb(255, 204, 0);
  font-weight: 600;
  padding-left: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: rgb(255, 204, 0);
}

.social {
  float: right;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.social a {
  padding-left: 10px;
}

.copyrights h5 {
  float: right;
  padding-right: 10px;
}

.copyrights {
  margin-top: auto;
  margin-bottom: 5px;
}

.menu1 a {
  color: black;
  padding: 10px;
}

.tagline {
  margin-top: -10px;
}

.website_name {
  color: black;
}

/* / */
.category {
  max-width: 400px;
  height: 270px;
  box-shadow: 0 2px 4px 0 gray;
  border-radius: 10px;
  background-color: red;
}
.category img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.card-col {
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 40px;
}

.category h3 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.category a {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title h5 {
  padding-top: 20px;
}

li {
  color: white;
}

/* // */
.mainhomepage {
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.homedesc h4 {
  color: white;
  padding-top: 150px;
  padding-left: 40px;
}

.homedesc p {
  color: white;
  padding-left: 40px;
}

.desc p {
  color: black;
  padding-left: 40px;
}

.aboutus {
  background-image: url("../images/AboutUs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.contactus {
  background-image: url("../images/ContactUs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.commoncard {
  background-color: rgba(245, 245, 245, 0.774);
  opacity: 1;
}